body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(251, 250, 250, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.dimensiones1 {
    color: rgb(59, 190, 12);
}

.dimensiones2 {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
}

#formulaImage {
    display: block;
    margin: 30px auto;
    max-width: 50%;
    height: auto;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado para alinear elementos en la parte superior */
    margin-top: 20px;
}

#rectangleImage {
    max-width: 50%;
    height: auto;
    border: 2px solid white;
}

.dimension-results {
    text-align: left;
    margin-left: 20px; /* Cambiado de margin-right a margin-left */
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }

    .results-container {
        flex-direction: column;
        align-items: center;
    }

    .dimension-results {
        margin-left: 0; /* Cambiado de margin-right a margin-left */
        text-align: center;
        margin-top: 10px;
    }
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    padding-top: 80px;
    display: none;
    z-index: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.active {
    background-color: #28a745;
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.openbtn {
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openbtn:hover {
    background-color: #ddd;
}

.openbtn span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    background-color: black;
}
#utplogo{
        display: block;
        margin: 20px auto;
        max-width: 50%;
        height: auto;
}
.hidden {
    display: none;
}
.solucionesdex{
    color: red;
    font-size: 30px;
}
